@* @model ProductListViewModel

<div class="row">
    <div class="col-md-12">
        <h1 class="h3">Admin Products</h1>
        <hr>
        <a class="btn btn-primary btn-sm" href="/admin/products/create">Add Product</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                    <td style="width: 100px;">Image</td>
                    <td>Name</td>
                    <td style="width: 20px;">Price</td>
                    <td style="width: 20px;">Anasayfa</td>
                    <td style="width: 20px;">Onaylı</td>
                    <td style="width: 150px;"></td>
                </tr>
            </thead>
            <tbody>
                @if(Model.Products.Count>0)
                {
                       @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td><img src="~/img/@item.ImageUrl" width="80"></td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>
                                    @if(item.IsHome)
                                    {
                                        <i class="fas fa-check-circle"></i>
                                    }else{
                                        <i class="fas fa-times-circle"></i>
                                    }
                                </td>
                                <td>
                                    @if(item.IsApproved)
                                    {
                                        <i class="fas fa-check-circle"></i>
                                    }else{
                                        <i class="fas fa-times-circle"></i>
                                    }
                                </td>
                                <td>
                                    <a href="/admin/products/@item.ProductId" class="btn btn-primary btn-sm mr-2">Edit</a>
                                    
                                    <form action="/admin/deleteproduct" method="POST" style="display: inline;">
                                        <input type="hidden" name="productId" value="@item.ProductId">
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                        </tr>
                        }
                }else{
                    <div class="alert alert-warning">
                        <h3>No Products</h3>
                    </div>
                }

             
            </tbody>
        </table>
    </div>
</div>
 *@
@model ProductListViewModel
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="h-5 mb-4 mt-3">Ürün Listesi</h2>
            <a class="btn btn-info mb-3" href="/admin/products/create">Ürün Ekle</a>
            @if (Model.Products.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Ürün Resmi</th>
                                <th scope="col">Ürün Adı</th>
                                <th scope="col">Ürün Fiyatı</th>
                                <th scope="col" class="text-center">Anasayfada Gözüküyor Mu?</th>
                                <th scope="col" class="text-center">Onaylı Ürün Mü?</th>
                                <th scope="col" >İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <th scope="row">@item.ProductId</th>
                                    <td><img src="~/img/@item.ImageUrl" alt="@item.Name" width="80"></td>
                                    <td>@item.Name</td>
                                    <td>@item.Price&#8378;</td>
                                    <td class="text-center">
                                        @if (item.IsHome)
                                        {
                                            <i class="fas fa-check text-success "></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-times text-danger"></i>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (item.IsApproved)
                                        {
                                            <i class="fas fa-check text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-times text-danger"></i>
                                        }
                                    </td>
                                    <td>
                                        <a href="/admin/products/@item.ProductId" class="btn btn-info btn-sm mr-2">Düzenle</a>
                                        <form action="/admin/deleteproduct" method="POST" style="display: inline;">
                                            <input type="hidden" name="productId" value="@item.ProductId">
                                            <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">No Products</h4>
                    <p class="mb-0">There are no products available.</p>
                </div>
            }
        </div>
    </div>
</div>
