@* @model UserDetailsModel

<h1 class="h3">Edit User</h1>
<hr>
<form asp-controller="Admin" asp-action="UserEdit" method="POST">
    <div class="row">
        <div class="col-md-12">
             <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">        
            <input type="hidden" name="UserId" value="@Model.UserId">
            <div class="form-group row">
                <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
              <div class="form-group row">
                <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
              <div class="form-group row">
                <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
              <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
         
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        
        </div>
        <div class="col-md-4">
          
            @foreach (var rolename in ViewBag.Roles)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" 
                    class="custom-control-input" 
                    name="selectedRoles"
                    value="@rolename"
                    id="@rolename" 
                    @(Model.SelectedRoles.Any(i=>i==rolename)?"checked":"")>
                    <label class="custom-control-label" for="@rolename">@rolename</label>
                </div>
            }

            <hr>

            <div class="custom-control custom-checkbox">
                <input asp-for="EmailConfirmed" type="checkbox" class="custom-control-input">
                <label asp-for="EmailConfirmed" class="custom-control-label"></label>
            </div>

        </div>
    </div>

</form>

@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
} *@



@model UserDetailsModel

<div class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-lr-auto m-b-50">
                <div class="bor15 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">Kullanıcı Düzenle</h4>
                    <form asp-controller="Admin" asp-action="UserEdit" method="POST">
                        <input type="hidden" name="UserId" value="@Model.UserId">
                        <div class="mb-3">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <input asp-for="FirstName" class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 form-control" placeholder="Adı">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="LastName" class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 form-control" placeholder="Soyadı">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <input asp-for="UserName" class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 form-control" placeholder="Kullanıcı Adı">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <input asp-for="Email" class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 form-control" placeholder="Mail">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}
